<div class="container">
  <h2>You need to prove who you are</h2>
  <br/>
  <h3>You have been invited by your employer to apply online</h3>
  <p>An identity enables professionals to access personal information appropriate to their role.</p>

  <h3>How to prove who you are</h3>
  <p>1. We will help you to send us digital photos of your ID documents.</p>
  <p>2. We will help you to send us a digital photo for use on your new ID.</p>
  <p>3. We will scan your face to check against your photo.</p>
  <p>4. Finally, we will help you to make a short video.</p>
  <br/>
  <p>You may want to ensure you have a quiet, private space to complete this process.</p>
  <p>The face scanning technology we use involves flashing lights and colours. </p>

</div>

<div class="container">
  <!--
  <button type="button" class="btn btn-primary" routerLink="/">Home</button>
  -->
  <button type="button" class="btn btn-success" routerLink="/inviteverify" [disabled]="!verificationDetails.uid">Next</button>
</div>
