<div class="container">
  <h2>Invite an employee to apply online</h2>
  <h3>To send an invite you will need to provide:</h3>
  <ul>
    <li>employee's full name (as it appears on their official documents)</li>
    <li>employee's date of birth</li>
    <li>employee's work email address</li>
    <li>employee's job role</li>
    <li>your organisation's code</li>
  </ul>
</div>

<div class="container">
  <h3>The following employment checks must also be complete:</h3>
  <ul>
    <li>Right to work</li>
    <li>DBS</li>
  </ul>
</div>

<div class="container">
  <button type="button" class="btn btn-primary" routerLink="/invitecreate">Back</button>
  <button type="button" class="btn btn-success" routerLink="/inviteemployee">Next</button>
</div>
