<!--<p>invite-list works!</p>-->

<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>UID</th>
      <th>Owner</th>
      <th>First</th>
      <th>Last</th>
      <th>Email</th>
      <th>Invite Status</th>
      <th>PYI Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let invite of invites">
      <td>{{invite!.uid}}</td>
      <td>{{invite!.createdBy}}</td>
      <td>{{invite!.firstName}}</td>
      <td>{{invite!.lastName}}</td>
      <td>{{invite!.email}}</td>
      <td>{{invite!.statusInvite}}</td>
      <td>{{invite!.statusPYI}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <p *ngIf="!invites?.length">No records available</p>
</div>
